/* style name=admin style*/
.box-title {
  background: #0073aa none repeat scroll 0 0;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  padding: 12px 6px 4px 4px;
}
.box-itle-blue {
    background: #0073AA none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 11px;
    text-align: center;
    width: 98%;
}
.bg-blue {
    background: #2c89bc none repeat scroll 0 0 !important;
    color: #fff;
}
.modal-dialog {
  width: 75%!important;
}
.col-lg-6 {
  padding-bottom: 7px!important;
}